name: build

on:
  push:
    branches:
        - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '1.21'
      - name: Build
        run: make build
      - name: Test
        run: make test
